html {
    box-sizing: border-box;
}

*, *::before, *::after { 
    box-sizing: inherit;
}

.container {
    position: relative;
    top: 60px;
    right: 20px;
    width: 100%;
    width: 300px;
    height: 200px;
    padding: 2rem;
    border: 4px solid #1a73e8;
    background-color: #f0f8ff;
    overflow-y: scroll;

}

.absolute-box {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 150px;
    background-color: #ffecb3;
    padding: 1rem;
    z-index: 2;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a73e8;
    padding: 1rem;
    z-index: 3;
}

body {
    /* background-image: url(german-shepherd-k-police-dog-ready-duty-loyal-canine-officer-posing-badge-protective-alert-service-uniform-358272483.webp); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: auto;
}

header {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(3, 69, 190);
}

.avatar {
    border-radius: 50%;
    height: 27vh;
    background-image: url(K9.jpg);
    width: 180px;
    background-position: center;
}

.hero {
    height: 10vh;
    color: aqua;
}

.head {
    font-size: 1.9rem;
}

form {
    background-color: gray;
    margin: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

legend {
    letter-spacing: 0.2em;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 50%;
}

label {
    font-weight: bold;
    text-decoration: underline wavy white;
}

input {
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 5px;
    font: 'Courier New', Courier, monospace;
}

select {
    width: 65%;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

button {
    width: 90%;
    background-color: lightgreen;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5em;
    color: blue;
}

.card {
    width: 30%;
    margin: auto;
    justify-content: center;
    border: 2px aquamarine solid;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: beige;
    box-shadow: 2px 4px 12px rgba(0, 13, 0.82);
}

.card-head {
    text-align: center;
}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

footer {
  border-radius: 10px;
  border-color: grey;
  background-color: grey;
  color: whitesmoke;
  text-align: center;
  font-family: monotype corsiva;
}